#编译文件夹
#data
CitySouth/CitySouth.Data/bin/
CitySouth/CitySouth.Data/obj/
#test
CitySouth/CitySouth.Test/bin/
CitySouth/CitySouth.Test/obj/
#web-api
CitySouth/CitySouth.Web/bin/
CitySouth/CitySouth.Web/obj/
#common
CitySouth/Ricky.Common/bin/
CitySouth/Ricky.Common/obj/
#packages
CitySouth/packages/